## Building locally

If you want to make local modifications to these images for development purposes or just to customize the logic:

```bash
git clone {{ project_github_repo_url }}.git
cd {{ project_repo_name }}
docker build \
  --no-cache \
  --pull \
  -t lscr.io/{{ lsio_project_name_short }}/{{ project_name }}:{{ release_tag }} .
```

The ARM variants can be built on x86_64 hardware and vice versa using `lscr.io/linuxserver/qemu-static`

```bash
docker run --rm --privileged lscr.io/linuxserver/qemu-static --reset
```

Once registered you can define the dockerfile to use with `-f Dockerfile.aarch64`.
