### Media folders
{% set has_media_path=((opt_param_volumes[0].vol_path | default("yes")) != "/downloads") %}

We have set {% if has_media_path %}'{{ opt_param_volumes[0].vol_path | default("/movies, /tv or /music") }}' and {% endif %}'/downloads' as optional path{% if has_media_path %}s{% endif %}, this is because it is the easiest way to get started. While easy to use, it has some drawbacks. Mainly losing the ability to hardlink (TL;DR a way for a file to exist in multiple places on the same file system while only consuming one file worth of space), or atomic move (TL;DR instant file moves, rather than copy+delete) files while processing content.

Use the optional path{% if has_media_path %}s{% endif %} if you don't understand, or don't want hardlinks/atomic moves.

{{  "The folks over at servarr.com wrote a good [write-up](https://wiki.servarr.com/docker-guide#consistent-and-well-planned-paths) on how to get started with this." | admonition(flavour=markdown, severity="tip", title="Well planned paths", collapse=False) }}
