<a href="{{ lsio_full_url }}" rel="{{ lsio_project_name }}">![{{ lsio_project_name }}]({{ lsio_primary_logo_url }})</a>

The [LinuxServer.io]({{ lsio_full_url }}) team brings you another container release featuring easy user mapping and community support. Find us at:
* [Discord]({{ lsio_discord_url }}) - {{ lsio_discord_desc }}
* [Blog]({{ lsio_blog_url }}) - {{ lsio_blog_desc }}
* [IRC]({{ lsio_irc_url }}) - {{ lsio_irc_desc }}
* [Podcast]({{ lsio_podcast_url }}) - {{ lsio_podcast_desc }}

# linuxserver/{{ project_name }}
[![]({{ lsio_microbadger_badge_version_url }}/{{ project_name }}.svg)]({{ lsio_microbadger_image_url }}{{ project_name }} "{{ lsio_microbadger_link_desc }}")
[![]({{ lsio_microbadger_badge_image_url }}/{{ project_name }}.svg)]({{ lsio_microbadger_image_url }}/{{ project_name }} "{{ lsio_microbadger_link_desc }}")
![Docker Pulls]({{ lsio_shieldsio_pull_count_url }}/{{ project_name }}.svg)
![Docker Stars]({{ lsio_shieldsio_stars_count_url }}/{{ project_name }}.svg)

{{ project_blurb }}

<a href="{{ project_url }}" rel="{{ project_name }}">![{{ project_name }}]({{ project_logo }})</a>

## Usage

```
docker create \
--name={{ param_container_name }} \
{% if param_usage_include_net %}
--net={{ param_net }} \
{% endif %}
{% if param_usage_include_env %}
{% if common_param_env_vars %}
{% for item in common_param_env_vars %}
-e {{ item.env_var }}={{ item.env_value }} \
{% endfor %}
{% endif %}
{% for item in param_env_vars %}
-e {{ item.env_var }}={{ item.env_value }} \
{% endfor %}
{% endif %}
{% if param_usage_include_ports %}
{% for item in param_ports %}
-p {{ item.external_port }}:{{ item.internal_port }} \
{% endfor %}
{% endif %}
{% if param_usage_include_vols %}
{% for item in param_volumes %}
-v {{ item.vol_host_path }}:{{ item.vol_path }} \
{% endfor %}
{% endif %}
{{ lsio_project_name_short }}/{{ project_name }}
```

{% if optional_block_1 %}
{{ optional_block_1_item_1 }}

{% for item in param_ports %}
-p {{ item.external_port }}:{{ item.internal_port }} \
{% endfor %}
{% endif %}

## Versions

{% for item in changelogs %}
* **{{ item.date }}** - {{ item.desc }}
{% endfor %}