#!/usr/bin/with-contenv bash

echo '
******************************************************
******************************************************
*                                                    *
*                                                    *
*             This image is deprecated.              *
*    It will no longer receive automated updates.    *
*                                                    *
*                                                    *
******************************************************
******************************************************
{% if project_deprecation_message is defined %}

{{ project_deprecation_message }}

******************************************************
******************************************************{% endif %}'
