name: External Trigger Main

on:
  workflow_dispatch:

jobs:
  external-trigger-{{ ls_branch }}:
    runs-on: ubuntu-latest
    steps:
      - name: External Trigger
        run: |
          echo "external trigger running off of {{ ls_branch }} branch"
