{% if project_deprecation_status %}
{% include "README_SNIPPETS/DEPRECATION.j2" | trim %}

{% endif %}
# [{{ lsio_project_name_short }}/{{ project_name }}]({{ project_github_repo_url }})

## This readme has been truncated from the full version found [HERE]({{ project_github_repo_url }})

{{ project_blurb | trim }}

{% if app_setup_block_enabled %}

{% include "README_SNIPPETS/APPLICATION_SETUP.j2" | trim %}

{% endif %}

## Usage

{% include "README_SNIPPETS/DOCKER_CLI.j2" | trim %}
