## Read-Only Operation

This image can be run with a read-only container filesystem. For details please [read the docs](https://docs.linuxserver.io/misc/read-only/).
{% if readonly_message is defined %}

### Caveats

{{ readonly_message | trim }}
{% endif %}
