## Non-Root Operation

This image can be run with a non-root user. For details please [read the docs](https://docs.linuxserver.io/misc/non-root/).
{% if nonroot_message is defined %}

### Caveats

{{ nonroot_message | trim }}
{% endif %}
